<mat-card>
    <mat-card-header>        
        <mat-card-title>{{infos.title}}</mat-card-title>
    </mat-card-header>
    <img width="250" src="/assets/img/logo-application.png" alt="" />
    <mat-card-content>
        <p>
          {{'various.welcome-intro' | translate}}
        </p>
      </mat-card-content>
</mat-card>



<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Phasellus non enim vel dui malesuada accumsan nec eu lacus.
Nunc tempus luctus orci, a fringilla elit varius sed.
Quisque fermentum, elit ut tincidunt viverra, orci sem pellentesque velit, a pharetra lectus ex eu lorem.
Phasellus non maximus nibh, quis viverra ligula.
Aenean erat quam, imperdiet a porttitor sit amet, pulvinar sed purus.
Quisque posuere magna massa, in imperdiet ante ullamcorper tincidunt.
Vivamus tellus orci, placerat nec ipsum et, malesuada tincidunt ipsum.
Sed odio nisi, efficitur sed dolor ut, commodo imperdiet lectus.
Curabitur eu cursus leo, eget iaculis arcu.
Praesent est felis, porta ut efficitur sed, faucibus sed mauris.
Pellentesque ut egestas elit, non sagittis lectus.
In hac habitasse platea dictumst.
Interdum et malesuada fames ac ante ipsum primis in faucibus.
Aliquam risus nunc, viverra ut nunc a, commodo bibendum arcu.
Suspendisse vel aliquet tortor.
Suspendisse consectetur, nibh et tincidunt pellentesque, nisi odio interdum lacus, non venenatis nulla urna quis felis.
Nam scelerisque enim at purus eleifend tincidunt.
Proin condimentum nec mi vitae porta.
Integer ac ex condimentum, pellentesque purus vel, pharetra purus.
Quisque dignissim sodales libero, sit amet feugiat metus gravida non.
Suspendisse potenti.
Sed sodales ullamcorper mollis.
Praesent vitae lacinia lacus.
Ut ut rutrum nisl.
Mauris sit amet mollis mi, id molestie mauris.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Aliquam a lobortis nunc.
Nullam lacinia consectetur mauris id scelerisque.
Duis et tristique augue.
Sed lobortis lacinia dui.
Nulla rutrum hendrerit erat vitae consectetur.
Nam sed orci id mauris posuere venenatis.
Donec congue odio tortor, quis rhoncus nisl sagittis non.
Aenean ullamcorper eget metus id laoreet.
Etiam a augue maximus, aliquet urna eu, condimentum nulla.
Vivamus eleifend commodo tellus, sed semper sapien eleifend sit amet.
Nulla egestas feugiat est ut malesuada.
Fusce vitae sagittis nisi.
Nam vel dolor venenatis, luctus arcu nec, venenatis ligula.
Donec et aliquet risus.
Aliquam lobortis convallis sollicitudin.
Praesent quis feugiat risus, eu consectetur tellus.
Nunc ac odio nec ex imperdiet blandit eget sit amet mauris.
Nunc congue, ante a posuere dignissim, enim ipsum fermentum augue, vel euismod lacus arcu et mauris.
Nullam eget lacus sed ligula fringilla euismod vitae nec dolor.
Aenean in neque in purus aliquet faucibus.
Proin faucibus sodales risus, eleifend rutrum odio finibus eu.
Vestibulum at libero dolor.
Pellentesque blandit sapien in lacinia faucibus.
Fusce lobortis urna et turpis rhoncus pellentesque.
Sed purus elit, posuere quis est quis, accumsan elementum lectus.
Cras vulputate nisi a sodales malesuada.
Sed ut faucibus massa.
Phasellus rutrum quam arcu, et ultricies sapien lacinia vel.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Phasellus non enim vel dui malesuada accumsan nec eu lacus.
Nunc tempus luctus orci, a fringilla elit varius sed.
Quisque fermentum, elit ut tincidunt viverra, orci sem pellentesque velit, a pharetra lectus ex eu lorem.
Phasellus non maximus nibh, quis viverra ligula.
Aenean erat quam, imperdiet a porttitor sit amet, pulvinar sed purus.
Quisque posuere magna massa, in imperdiet ante ullamcorper tincidunt.
Vivamus tellus orci, placerat nec ipsum et, malesuada tincidunt ipsum.
Sed odio nisi, efficitur sed dolor ut, commodo imperdiet lectus.
Curabitur eu cursus leo, eget iaculis arcu.
Praesent est felis, porta ut efficitur sed, faucibus sed mauris.
Pellentesque ut egestas elit, non sagittis lectus.
In hac habitasse platea dictumst.
Interdum et malesuada fames ac ante ipsum primis in faucibus.
Aliquam risus nunc, viverra ut nunc a, commodo bibendum arcu.
Suspendisse vel aliquet tortor.
Suspendisse consectetur, nibh et tincidunt pellentesque, nisi odio interdum lacus, non venenatis nulla urna quis felis.
Nam scelerisque enim at purus eleifend tincidunt.
Proin condimentum nec mi vitae porta.
Integer ac ex condimentum, pellentesque purus vel, pharetra purus.
Quisque dignissim sodales libero, sit amet feugiat metus gravida non.
Suspendisse potenti.
Sed sodales ullamcorper mollis.
Praesent vitae lacinia lacus.
Ut ut rutrum nisl.
Mauris sit amet mollis mi, id molestie mauris.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Aliquam a lobortis nunc.
Nullam lacinia consectetur mauris id scelerisque.
Duis et tristique augue.
Sed lobortis lacinia dui.
Nulla rutrum hendrerit erat vitae consectetur.
Nam sed orci id mauris posuere venenatis.
Donec congue odio tortor, quis rhoncus nisl sagittis non.
Aenean ullamcorper eget metus id laoreet.
Etiam a augue maximus, aliquet urna eu, condimentum nulla.
Vivamus eleifend commodo tellus, sed semper sapien eleifend sit amet.
Nulla egestas feugiat est ut malesuada.
Fusce vitae sagittis nisi.
Nam vel dolor venenatis, luctus arcu nec, venenatis ligula.
Donec et aliquet risus.
Aliquam lobortis convallis sollicitudin.
Praesent quis feugiat risus, eu consectetur tellus.
Nunc ac odio nec ex imperdiet blandit eget sit amet mauris.
Nunc congue, ante a posuere dignissim, enim ipsum fermentum augue, vel euismod lacus arcu et mauris.
Nullam eget lacus sed ligula fringilla euismod vitae nec dolor.
Aenean in neque in purus aliquet faucibus.
Proin faucibus sodales risus, eleifend rutrum odio finibus eu.
Vestibulum at libero dolor.
Pellentesque blandit sapien in lacinia faucibus.
Fusce lobortis urna et turpis rhoncus pellentesque.
Sed purus elit, posuere quis est quis, accumsan elementum lectus.
Cras vulputate nisi a sodales malesuada.
Sed ut faucibus massa.
Phasellus rutrum quam arcu, et ultricies sapien lacinia vel.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Phasellus non enim vel dui malesuada accumsan nec eu lacus.
Nunc tempus luctus orci, a fringilla elit varius sed.
Quisque fermentum, elit ut tincidunt viverra, orci sem pellentesque velit, a pharetra lectus ex eu lorem.
Phasellus non maximus nibh, quis viverra ligula.
Aenean erat quam, imperdiet a porttitor sit amet, pulvinar sed purus.
Quisque posuere magna massa, in imperdiet ante ullamcorper tincidunt.
Vivamus tellus orci, placerat nec ipsum et, malesuada tincidunt ipsum.
Sed odio nisi, efficitur sed dolor ut, commodo imperdiet lectus.
Curabitur eu cursus leo, eget iaculis arcu.
Praesent est felis, porta ut efficitur sed, faucibus sed mauris.
Pellentesque ut egestas elit, non sagittis lectus.
In hac habitasse platea dictumst.
Interdum et malesuada fames ac ante ipsum primis in faucibus.
Aliquam risus nunc, viverra ut nunc a, commodo bibendum arcu.
Suspendisse vel aliquet tortor.
Suspendisse consectetur, nibh et tincidunt pellentesque, nisi odio interdum lacus, non venenatis nulla urna quis felis.
Nam scelerisque enim at purus eleifend tincidunt.
Proin condimentum nec mi vitae porta.
Integer ac ex condimentum, pellentesque purus vel, pharetra purus.
Quisque dignissim sodales libero, sit amet feugiat metus gravida non.
Suspendisse potenti.
Sed sodales ullamcorper mollis.
Praesent vitae lacinia lacus.
Ut ut rutrum nisl.
Mauris sit amet mollis mi, id molestie mauris.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Aliquam a lobortis nunc.
Nullam lacinia consectetur mauris id scelerisque.
Duis et tristique augue.
Sed lobortis lacinia dui.
Nulla rutrum hendrerit erat vitae consectetur.
Nam sed orci id mauris posuere venenatis.
Donec congue odio tortor, quis rhoncus nisl sagittis non.
Aenean ullamcorper eget metus id laoreet.
Etiam a augue maximus, aliquet urna eu, condimentum nulla.
Vivamus eleifend commodo tellus, sed semper sapien eleifend sit amet.
Nulla egestas feugiat est ut malesuada.
Fusce vitae sagittis nisi.
Nam vel dolor venenatis, luctus arcu nec, venenatis ligula.
Donec et aliquet risus.
Aliquam lobortis convallis sollicitudin.
Praesent quis feugiat risus, eu consectetur tellus.
Nunc ac odio nec ex imperdiet blandit eget sit amet mauris.
Nunc congue, ante a posuere dignissim, enim ipsum fermentum augue, vel euismod lacus arcu et mauris.
Nullam eget lacus sed ligula fringilla euismod vitae nec dolor.
Aenean in neque in purus aliquet faucibus.
Proin faucibus sodales risus, eleifend rutrum odio finibus eu.
Vestibulum at libero dolor.
Pellentesque blandit sapien in lacinia faucibus.
Fusce lobortis urna et turpis rhoncus pellentesque.
Sed purus elit, posuere quis est quis, accumsan elementum lectus.
Cras vulputate nisi a sodales malesuada.
Sed ut faucibus massa.
Phasellus rutrum quam arcu, et ultricies sapien lacinia vel.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Phasellus non enim vel dui malesuada accumsan nec eu lacus.
Nunc tempus luctus orci, a fringilla elit varius sed.
Quisque fermentum, elit ut tincidunt viverra, orci sem pellentesque velit, a pharetra lectus ex eu lorem.
Phasellus non maximus nibh, quis viverra ligula.
Aenean erat quam, imperdiet a porttitor sit amet, pulvinar sed purus.
Quisque posuere magna massa, in imperdiet ante ullamcorper tincidunt.
Vivamus tellus orci, placerat nec ipsum et, malesuada tincidunt ipsum.
Sed odio nisi, efficitur sed dolor ut, commodo imperdiet lectus.
Curabitur eu cursus leo, eget iaculis arcu.
Praesent est felis, porta ut efficitur sed, faucibus sed mauris.
Pellentesque ut egestas elit, non sagittis lectus.
In hac habitasse platea dictumst.
Interdum et malesuada fames ac ante ipsum primis in faucibus.
Aliquam risus nunc, viverra ut nunc a, commodo bibendum arcu.
Suspendisse vel aliquet tortor.
Suspendisse consectetur, nibh et tincidunt pellentesque, nisi odio interdum lacus, non venenatis nulla urna quis felis.
Nam scelerisque enim at purus eleifend tincidunt.
Proin condimentum nec mi vitae porta.
Integer ac ex condimentum, pellentesque purus vel, pharetra purus.
Quisque dignissim sodales libero, sit amet feugiat metus gravida non.
Suspendisse potenti.
Sed sodales ullamcorper mollis.
Praesent vitae lacinia lacus.
Ut ut rutrum nisl.
Mauris sit amet mollis mi, id molestie mauris.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Aliquam a lobortis nunc.
Nullam lacinia consectetur mauris id scelerisque.
Duis et tristique augue.
Sed lobortis lacinia dui.
Nulla rutrum hendrerit erat vitae consectetur.
Nam sed orci id mauris posuere venenatis.
Donec congue odio tortor, quis rhoncus nisl sagittis non.
Aenean ullamcorper eget metus id laoreet.
Etiam a augue maximus, aliquet urna eu, condimentum nulla.
Vivamus eleifend commodo tellus, sed semper sapien eleifend sit amet.
Nulla egestas feugiat est ut malesuada.
Fusce vitae sagittis nisi.
Nam vel dolor venenatis, luctus arcu nec, venenatis ligula.
Donec et aliquet risus.
Aliquam lobortis convallis sollicitudin.
Praesent quis feugiat risus, eu consectetur tellus.
Nunc ac odio nec ex imperdiet blandit eget sit amet mauris.
Nunc congue, ante a posuere dignissim, enim ipsum fermentum augue, vel euismod lacus arcu et mauris.
Nullam eget lacus sed ligula fringilla euismod vitae nec dolor.
Aenean in neque in purus aliquet faucibus.
Proin faucibus sodales risus, eleifend rutrum odio finibus eu.
Vestibulum at libero dolor.
Pellentesque blandit sapien in lacinia faucibus.
Fusce lobortis urna et turpis rhoncus pellentesque.
Sed purus elit, posuere quis est quis, accumsan elementum lectus.
Cras vulputate nisi a sodales malesuada.
Sed ut faucibus massa.
Phasellus rutrum quam arcu, et ultricies sapien lacinia vel.
</p>-->