.example-spacer {
    flex: 1 1 auto;
}

h1{
    width:100%;
    text-align: center;
}

img.logo{
    height:30px;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color:#f5f5f5;
}
.mat-form-field-language{
  width:85px;
  height:28px;
  font-size:11px; 
  margin:5px -6px 10px 5px;
}