<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title *ngIf="!small">{{'various.days.'+(meteo.forecast.datetime | date:'EEEE')  | translate}}
            {{meteo.forecast.datetime | date:'dd'}} {{'various.months.'+(meteo.forecast.datetime | date:'LLLL') | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="5:3">
            
            <mat-grid-tile><img class="icon" src="/assets/icons/meteo/short-cut/temperature.png" /></mat-grid-tile>
            <mat-grid-tile>{{meteo.forecast.tmin}} - {{meteo.forecast.tmax}} °C</mat-grid-tile>
            <mat-grid-tile><img class="icon" src="/assets/icons/meteo/short-cut/{{meteo.forecast.icon}}.png" /></mat-grid-tile>
            <mat-grid-tile> {{'meteo-station.forecast.weather.'+meteo.forecast.weather | translate }}</mat-grid-tile>
            
            <mat-grid-tile><img class="icon" src="/assets/icons/meteo/short-cut/sunrise.png" /></mat-grid-tile>
            <mat-grid-tile>{{meteo.ephemeride.sunrise}}</mat-grid-tile>
            <mat-grid-tile><img class="icon" src="/assets/icons/meteo/short-cut/sunset.png" /></mat-grid-tile>
            <mat-grid-tile>{{meteo.ephemeride.sunset}}</mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>