app-header{
    position: fixed;
    width:100%;
    background: #eee;
    top: 0;
    left:0;
    z-index: 2;    
}

app-footer {
    position: fixed;
    width:100%;
    background: #eee;
    bottom: 0;
    left:0;
    opacity: 1;   
    transition: opacity .25s ease-out, height .15s ease;
    cursor: default;
    user-select: none;
    z-index: 2;   
  }

  main{
    margin: 0 auto;
    margin-top:65px;
    margin-bottom:50px;
    max-width: 800px;
    padding:0px 8px 0px 8px;
    z-index:0;
  }
