<h2>{{ 'meteo-station.meteo-in'| translate}} Vitry / Seine</h2>

<section>
   <app-forecasts-card *ngFor="let meteo of meteosToday" [meteo]="meteo"></app-forecasts-card>
</section>

<mat-divider></mat-divider>

<section>
    <h3>{{ 'meteo-station.forecast.forecast-2-weeks'| translate}}</h3>
    <div (mousedown)="swipe($event, 'start')" (mouseup)="swipe($event, 'end')" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab
                label="{{'various.days.'+(meteo.forecast.datetime | date:'EEEE')  | translate}}
        {{meteo.forecast.datetime | date:'dd'}} {{'various.months.'+(meteo.forecast.datetime | date:'LLLL') | translate}}"
                *ngFor="let meteo of meteosForecasts">
                <div class="tabs">
                    <app-forecasts-card [meteo]="meteo"></app-forecasts-card>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</section>